{% extends "bootstrap/base.html" %}
{% block head %}
     <title>{% block title %}{{ config['APP_TITLE'] }}{{title|default}}{% endblock title %}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
{% endblock %}
{% block body_attribs %} class="" {% endblock body_attribs %}
{% block navbar %}
    {% include "admin/sidebar.html" %}
{% endblock navbar %}
{% block content %}
    {% block footer %}
        {% include "admin/footer.html" %}
    {% endblock footer %}
{% endblock content %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
{% endblock scripts %}
