{% extends "admin/layout.html" %}
{% block content %}
    <div class="container">
        <div class="content">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('admin.get_posts') }}">文章管理</a><span class="divider"></span></li>
                <li class="active">修改文章</li>
            </ul>
            <div class="row sub-header" style="padding:20px;">
                <form class="form-horizontal" id="post_update">
                    <div class="alert alert-danger " style="display: none">
                        <strong>警告！</strong><span class="danger-content"></span>。
                    </div>
                    <div class="alert alert-success " style="display: none;">
                        <strong>成功！</strong><span class="success-content"></span>。
                    </div>
                    <div class="form-group">
                        <label for="post_title" class="col-sm-1 control-label">标题</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="post_title" name="post_title"
                                   placeholder="随便说一句吧~~"
                                   value="{{ data['posts'].post_title }}">
                            <input type="hidden" name="post_id" id="post_id" value="{{ data['posts'].post_id }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nickname" class="col-sm-1 control-label">SEO标题</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="post_seo" name="post_seo" placeholder="SEO优化"
                                   value="{{ data['posts'].post_seo }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="post_type" class="col-sm-1 control-label">类型</label>

                        <div class="radio col-sm-5">
                            <label>
                                <input type="radio" value="1" id="type1"
                                       name="post_type" {{ "checked='checked'" if data['posts'].post_type ==1 else "" }} />文章
                            </label>
                            <label>
                                <input type="radio" value="2" id="type2"
                                       name="post_type" {{ "checked='checked'" if data['posts'].post_type ==2 else "" }}  />美图
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nickname" class="col-sm-1 control-label">是否发布</label>

                        <div class="checkbox col-sm-5">
                            <label for="is_active">
                                <input type="checkbox" value="1" id="is_active"
                                       name="is_active" {{ "checked='checked'" if data['posts'].is_active==1 else "" }}   >是否发布
                            </label>
                        </div>
                    </div>
                    <div class="form-group hide">
                        <label for="nickname" class="col-sm-1 control-label">内容</label>

                        <div class="checkbox col-sm-5">
                            <textarea name="post_content" id="post_content" placeholder="请输入内容" cols="30"
                                      rows="10">{{ data['posts'].post_content }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="info" class="col-sm-1 control-label">图片</label>

                        <div class="col-sm-6" id="show-img-1">
                            <table class="table table-bordered pic-table">
                                <tr>
                                    <td id="pic1">
                                        {% if data['pic_obj_list'][0] %}
                                            <button type="button" class="close" aria-label="Close" style="position: absolute; margin-left: 6px;"><span aria-hidden="true">&times;</span></button>
                                            <img src='{{ data['pic_obj_list'][0].pic_url }}' class='img-thumbnail'
                                                 style='max-width:200px; max-height:200px;'/>
                                        {% else %}
                                        <button type="button" class="btn btn-primary upload-btn">上传</button>
                                        {% endif %}
                                        <input type='hidden' name='pic_str'
                                               value='{{ data['pic_obj_list'][0].pic_url if data['pic_obj_list'][0] else "" }}'/>
                                        <input type="file" name="file" id="file1" class="file" style="display: none">
                                    </td>
                                    <td id="pic2">
                                        {% if data['pic_obj_list'][1] %}
                                            <button type="button" class="close" aria-label="Close" style="position: absolute; margin-left: 6px;"><span aria-hidden="true">&times;</span></button>
                                            <img src='{{ data['pic_obj_list'][1].pic_url }}' class='img-thumbnail'
                                                 style='max-width:200px; max-height:200px;'/>
                                        {% else %}
                                            <button type="button" class="btn btn-primary upload-btn">上传</button>
                                        {% endif %}
                                        <input type='hidden' name='pic_str'
                                               value='{{ data['pic_obj_list'][1].pic_url if data['pic_obj_list'][1] else "" }}'/>
                                        <input type="file" name="file" id="file2" class="file" style="display: none">
                                    </td>
                                    <td id="pic3">
                                        {% if data['pic_obj_list'][2] %}
                                            <button type="button" class="close" aria-label="Close" style="position: absolute; margin-left: 6px;"><span aria-hidden="true">&times;</span></button>
                                            <img src='{{ data['pic_obj_list'][2].pic_url }}' class='img-thumbnail'
                                                 style='max-width:200px; max-height:200px;'/>
                                        {% else %}
                                            <button type="button" class="btn btn-primary upload-btn">上传</button>
                                        {% endif %}
                                        <input type='hidden' name='pic_str'
                                               value='{{ data['pic_obj_list'][2].pic_url if data['pic_obj_list'][2] else "" }}'/>
                                        <input type="file" name="file" id="file3" class="file" style="display: none">
                                    </td>
                                </tr>
                            </table>
                            <input type="hidden" id="file_id" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tags" class="col-sm-1 control-label">标签</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="tags" name="tags"
                                   placeholder="请输入个性标签并回车" data-toggle="tags"
                                   value="{% for tag in data['tag_obj_list'] %}{{ tag.tag_name }},{% endfor %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5 col-md-offset-1">
                            <button type="button" class="btn btn-primary" id="update">修改</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{ super() }}
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/ajaxfileupload.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-tokenfield.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap-tokenfield.min.js') }}"></script>
    <script language="javascript">
        $(function () {
            function upload() {
                $.ajaxFileUpload({
                    url: "/admin/do_upload",
                    dataType: 'text',
                    secureuri: false, //一般设置为false
                    fileElementId: $('#file_id').val(),
                    success: function (data) {
                        var data = JSON.parse(data.replace(/<.*>/g, ''));
                        if (data.ret == true) {
                            $('.success-content').html(data.errmsg);
                            $('.alert-success').show()
                            pic_id = $('#file_id').val()
                            $('#' + pic_id).parent().html("<img src='" + data.data + "' class='img-thumbnail' style='max-width:200px; max-height:200px;' /><input type='hidden' name='pic_str' value='" + data.data + "' />")
                        } else {
                            $('.danger-content').html(data.errmsg);
                            $('.alert-danger').show()
                        }
                        setTimeout(function () {
                            $('.alert-success').hide()
                            $('.alert-danger').hide()
                        }, 3000)
                        return false;
                    }
                });
            }

            $('#update').click(function () {
                $.ajax({
                    'url': '/admin/posts',
                    'dataType': 'json',
                    'data': $('#post_update').serialize(),
                    'method': 'PUT',
                    'success': function (data) {
                        if (data.ret == true) {
                            $('.success-content').html(data.errmsg);
                            $('.alert-success').show()
                        } else {
                            $('.danger-content').html(data.errmsg);
                            $('.alert-danger').show()
                        }
                        setTimeout(function () {
                            $('.alert-success').hide()
                            $('.alert-danger').hide()
                        }, 3000)
                        return false;
                    }
                })
            })
            $('#tags').tokenfield()
            $('.close').bind('click',function(){
                $(this).parent().html('<button type="button" class="btn btn-primary upload-btn">上传</button><input type="file" name="file" id="file1" class="file" style="display: none">')
            })
            $('.upload-btn').click(function () {
                var upload_id = $(this).siblings('.file').attr('id')
                $('#file_id').val(upload_id)
                $(this).siblings('.file').click()
            })
            $('.file').change(function () {
                if ($(this).val() != '') {
                    var reader = new FileReader()
                    var file = this.files[0]
                    reader.readAsDataURL(file)
                    reader.onload = function (e) {
                        upload()
                    }
                }
            })
        })

    </script>
{% endblock scripts %}
