{% extends "admin/layout.html" %}
{% block content %}
    <div class="container">
        <div class="content">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('admin.get_users') }}" >用户管理</a><span class="divider"></span></li>
                <li class="active">用户列表</li>
            </ul>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>ID</th>
                    <th>昵称</th>
                    <th>邮箱</th>
                    <th>头像</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                {% for user in list %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.nickname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{% if user.pic != '' %}<img src="{{ user.pic }}" class='img-rounded' style='max-width:30px; max-height:30px;'  />{% else %}无{% endif %}</td>
                        <td>{{ "活跃" if user.is_active == 1 else "冻结"}}</td>
                        <td>
                            <a href="{{ url_for('admin.update_user', id=user.id) }}"  class="btn btn-success">编辑</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'admin/page.html' %}
    </div>
    {{ super() }}
{% endblock content %}

